<div ng-controller="LayoutCtrl as vm">
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools" style="align-content:flex-start">
            <md-button class="md-button" ng-click="toggleMenu()">
                <!--<md-icon icon="https://material.angularjs.org/img/icons/ic_menu_24px.svg"></md-icon>-->
                <img src="images/ic_menu.png" width="40px" height="40px"/>
            </md-button>
            <span class="md-flex">Materialova</span>
        </div>
    </md-toolbar>

    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('gt-md')">
        <md-toolbar class="md-primary">
        </md-toolbar>
        <md-content class="md-content-padding" layout="row" layout-sm="column">
            <div layout layout-sm="row">
                <md-button class="md-primary" style="width:100%;height:60px;display:block;text-align:left" ng-click="openRaincheckForm()">
                    <img src="images/check.png" class="face" width="40px" height="40px" />                    
                    <span style="vertical-align:top;">Issue Raincheck</span>
                </md-button>
            </div>
            <div layout layout-sm="row">
                <md-button class="md-primary" style="width:100%;height:60px;display:block;text-align:left" ng-click="barcodeScanner()">
                    <img src="images/barcodescanner.png" class="face" width="40px" height="40px" />
                    <span style="vertical-align:top;">Scan Barcode</span>
                </md-button>
            </div>
            <div layout layout-sm="row">
               
                <md-button class="md-primary" style="width:100%;height:60px;display:block;text-align:left" ng-click="signout()">
                    <img src="images/signout.png" class="face" width="40px" height="40px" />
                    <span style="vertical-align:top;"> Sign-out</span>                   
                </md-button>
            </div>           
        </md-content>
    </md-sidenav>

    <div ui-view="raincheck-view">
    </div>
</div>
